.promo {
  position: relative;
  width: 100%;
  min-height: 513px;
  display: flex;
  justify-content: center;
  transition: min-height 0.2s linear;
}

.promo__title {
  margin: 160px 0 0;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -2px;
  max-width: 730px;
  transition: all 0.2s linear;
}

.promo__overlay {
  position: absolute;
  top: 20px;
  right: 40px;
  bottom: 0;
  left: 40px;
  z-index: -1;
  border-radius: 10px;
  background-color: #F5F5F5;
  transition: top 0.2s linear, right 0.2s linear, left 0.2s linear;
}

@media (max-width: 768px) {
  .promo {
    min-height: 834px;
  }
  .promo__overlay {
    right: 20px;
    left: 20px;
  }
  .promo__title {
    margin: 350px 44px 0;
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
  }
}

@media (max-width: 425px) {
  .promo {
    min-height: 586px;
  }
  .promo__overlay {
    top: 14px;
    right: 14px;
    left: 14px;
  }
  .promo__title {
    margin: 220px 14px 0;
    max-width: 680px;
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1.16px;
  }
}