@keyframes openError {
 from {
  opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 12px;
  }
}

.auth {
  width: 396px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
}

.auth__title {
  margin: 40px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: margin 0.2s linear;
}

.auth__form {
  width: 100%;
  min-height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s linear;
}

.auth__input-container {
  margin-bottom: 20px;
}

.auth__input-title {
  margin: 0 0 10px;
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__input {
  box-sizing: border-box;
  padding: 15px;
  outline: none;
  border: 0;
  background-color: #F9F9F9;
  border-radius: 8px;
  width: 100%;
  height: 46px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.2s linear;
}

.auth__input:focus {
  border: gray solid 1px;
}

.auth__input_type_error {
  color: #FF4062;
  transition: all 0.2s linear;
}

.auth__input-error {
  display: none;
  margin: 10px 0 0;
  color: #FF4062;
  width: 100%;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__input-error_active {
  display: block;
  animation: openError 0.3s;
}

.auth__api-error {
  margin: 47px 0 10px;
  text-align: center;
  color: #FF4062;
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__submit-button {
  padding: 0;
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 3px;
  background-color: black;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s linear;
}

.auth__submit-button_type_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  transition: all 0.2s linear;
}

.auth__submit-button:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

.auth__text {
  margin: 17px 0 0;
  padding-right: 2px;
  text-align: center;
  color: #A0A0A0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s linear;
}

.auth__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: font-size 0.2s linear, opacity 0.2s linear;
}

.auth__link:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}

@media (max-width: 456px) {
  .auth {
    padding: 56px 0 30px;
    width: 100%;
    align-items: center;
    height: 100dvh;
    box-sizing: border-box;
  }
  .auth__form {
    width: calc(100% - 60px);
    height: calc(100dvh - 283px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .auth__title {
    margin: 50px 0 80px;
  }
  .auth__submit-button {
    margin-top: 0;
    font-size: 12px;
  }
  .auth__text {
    margin-top: 14px;
    font-size: 12px;
  }
  .auth__link {
    font-size: 12px;
  } 
}